<div class="container">
  <header>
    <h1>Welcome to Reader's Club</h1>
  </header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Your tool for keeping track of your reading list</h2>

    <div class="content">
      <h3>Log in to view your reading list:</h3>
      <a href="/signin">Log In</a>
      <h3>Don't have an account yet? Create one!</h3>
      <a href="/signup">Create Account</a>
    </div>

  </div>
</div>
